<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<meta name="viewport" content="initial-scale=1.0"/>

<label for="text"></label>
<textarea id="text"></textarea>

<script>
    var text = $('#text');
    text.focus();

    var socket = io();
    var room;

    socket.on('joined', function (msg) {
        room = msg.room;
        socket.emit('ready');
    });

    socket.on('announce', function () {
        socket.emit('update', text.val());
    });

    socket.on('update', function (msg) {
        text.val(msg);
        text.blur();
    });

    text.bind('input', function () {
        socket.emit('update', text.val())
    });
</script>