<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>

<label for="text"></label>
<textarea id="text"></textarea>

<script>
    var tArea = $('#text');
    tArea.focus();

    io = io.connect();
    io.emit('ready', {"room": window.location.hash});

    io.on('announce', function() {
        io.emit('update', $('#text').val())
    });

    io.on('update', function(data) {
        tArea.val(data.message);
        tArea.blur();
    });

    tArea.bind('input', function() {
        io.emit('update', {"message": $('#text').val(), "room": window.location.hash})
    });

    tArea.bind('click', function() {
        tArea.select();
    });

    $(window).on('hashchange', function() {
        location.reload();
    });
</script>